{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="popupModalLabel">
            <i class="fas fa-key"></i>&nbsp;&nbsp; Log in 
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
       <form action="/userLogin" method="POST" autocomplete="off">
        <div class="modal-body">
          {% csrf_token %}
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-body">
                  
                
                <p class="text-muted">Sign In to your account</p>   
                                                               
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input type="text"  class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                </div>                                 
                  <div class="col-6 text-right">
                    <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">Forgot Password</a></p>
                  </div>
                </div>
                 
                <div class="row">
                <div class="text-center text-muted delimiter">or use a social network</div>
                <div>
                  <!-- Facebook -->
                <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                 <i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button">
                  <i class="fab fa-twitter"></i></a>

               <!-- Google -->
                <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button">
                  <i class="fab fa-google"></i></a>
                <!-- Linkedin -->
                <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button">
                    <i class="fab fa-linkedin-in"></i></a>
                </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary" href="#" data-bs-dismiss="modal">Register Now!</button>
                  
                </div>
              </div>
            </div>
          </div>


    </form>
      </div>
    </div>
  </div>